.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 22px;
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

.link:hover{
    color: gray;
    transition: all 0.5s;
}



.logout{
    padding: 10px;
    border: none;
    background-color: rgb(61, 85, 24);
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 100%;
    padding: 5px;
    cursor: pointer;
    background-color:  rgb(61, 85, 24);
    outline: none;
    border: none;
}

.mobileLinkContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: black;
    z-index: 20;
    position: fixed;
    top: 0px;
    right: 0;
    width: 100%;
    text-align: center;
}

.close{
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: rgb(61, 85, 24);

}

.mobileLink{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 20px;
    transition: all 0.5s;
}

.mobileLink:hover{

    background-color: rgb(23, 19, 19);
    transition: all 0.5s;
}

@media screen and (max-width: 992px) {
   .link{
    visibility: hidden;
   }
   .hamburger{
    visibility:visible;
   }
  }

  @media screen and (min-width: 992px) {
    .hamburger,.mobileLinkContainer{
     visibility: hidden;
    }
   }