.container{
    display: flex;
    gap: 20px;
    margin: 20px 10px;
}

.imgcontainer{
    flex: 1;
}

.textcontainer{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.textcontainer h2{
    font-size: 30px;
}


.img{
    height: 250px;
    width: 350px;

}

@media screen and (max-width: 992px) {
    .container{
       
    }
    
    .img{
        height: 100px;
        width: 200px;
    }
  }

